.b {
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh; /* add this line to make the body take up the full view height */
    margin: 0; /* add this line to remove the default margin of the body element */
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  select::after {
    content: "";
    width: 10px;
    height: 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
  }

#container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
input[type="submit"] {
    height: 30px;
    font-size: 25px;
    background-color: #007bff; /* blue */
    color: #ffffff; /* white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
