* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s;
}
body{
    background: linear-gradient(90deg, #5b665c 58.9%, rgb(0, 0, 0) 41.1%);
    height: 157vh;
}
.image-container {
    position: relative;
    display: flex;
    padding-top: 230px;
    justify-content: center;
    align-items: center;
    height: auto; 
    overflow: visible; 
    animation: container-slide-in 2s ease-in-out;
}
.image {
    max-width: 190%;
    max-height: 190%;
    animation: image-slide-in 2s ease-out;
    z-index: 1;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 5px;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 20rem;
    text-align: center;
    font-family: "Jacques Francois Shadow", cursive;
    font-weight: 500;
    padding-top: 20px;
    animation: slide-in 2s ease-out;
}
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes image-slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

